*{
  margin: 0;
  padding: 0;
}
.navegador-superior{
  background-color: #ddd;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  margin-bottom: 4px;
}
.navegador-superior > ul, .dropdown, .navegador-lateral-esquerda > ul, .navegador-lateral-direita > ul{
  list-style-type: none;
}
.navegador-superior > ul > li{
  display: inline-block;
}
.navegador-superior > ul > li > a, .dropdown > li > a, .navegador-lateral-esquerda > ul > li > a,
.navegador-lateral-direita > ul > li > a{
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000;
}
.navegador-superior > ul > li > a:hover, .dropdown > li > a:hover, .navegador-lateral-esquerda > ul > li > a:hover,
.navegador-lateral-direita > ul > li > a:hover{
  background-color: #ccc;
}
.navegador-superior > ul > li > a:hover + .dropdown{
  visibility: visible;
}
.dropdown{
  background-color: #ddd;
  position: absolute;
  visibility: hidden;
}
.dropdown > li{
  max-height: 0px;
  width: 300px;
  overflow: hidden;
  transition: visibility 0s, max-height 0.5s;
}
.dropdown:hover{
  visibility: visible;
}

.navegador-superior > ul > li > a:hover + .dropdown > li, .dropdown:hover > li{
   max-height: 50px;
}

@media screen and (min-width:600px){
  .navegador-lateral-esquerda{
    background: linear-gradient(#FFF, #666);
    background-color: #DDD;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    width: 15vw;
    float: left;
  }
  .conteudo{
    position: relative;
    float: left;
    width: 65vw;
  }
  .navegador-lateral-direita{
    background-color: #DDD;
    float:left;
    width: 18vw;
    background: linear-gradient(#FFF, #666);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .5);
  }
}

@media screen and (max-width:599px){
  .navegador-lateral-esquerda{
    background: linear-gradient(#FFF, #666);
    background-color: #DDD;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  }
  .conteudo{
    height: 80vh;
  }
  .navegador-lateral-direita{
    margin-top: 50%;
    background: linear-gradient(#FFF, #666);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .5);
  }
}



#img{
  animation-name: rodar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rodar {
  0%{
    transform: rotate(0deg);
    margin-left: 0%;
  }
  25%{
    margin-left: 82%;
    margin-top: 0%;
  }
  50%{
    margin-left: 82%;
    margin-top: 100%;
  }
  75%{
    margin-top: 100%;
    margin-left: 0%;
  }
  100%{
    margin-top: 0%;
    transform: rotateZ(360deg);

  }
}
