*{
  margin: 0;
  padding: 0;
}

.titulo{
  overflow: auto;
  background-color:white ;
}
.titulo h1{
  float: left;
  font-family: fontawesome;
  margin: 15px;
}
.titulo a{
  float: right;;
  font-family: fontawesome;
  margin: 15px;
  text-decoration: none;
  color: black;
}
.horizontal{
  overflow: auto;
  background-color: #4CAF50 ;
}
.horizontal ul{
  list-style: none;
}
.horizontal ul li{
  float: left;
  font-family: "Segoe UI",Arial,sans-serif
}
.horizontal ul li a{
  display: block;
  color: white;
  padding: 14px;
  text-decoration: none;
}
.horizontal ul li a:hover{
  background-color: white;
  color: black;
}

.vertical{
  background-color: #FFF;
  float: left;
  width: 15%;
  height: 1000px;
  font-family: Verdana,sans-serif;
  margin-top: 3px;
}

.vertical h6{
  color: black;
  margin:2px 0;
  padding: 7px;
  display: block;
}
.vertical ul{
  list-style-type: none;
}
.vertical ul li a{
  padding: 7px;
  color: black;
  display: block;
  text-decoration: none;
}
.vertical ul li a:hover{
  background-color: #DCDCDC;
  color: black;
}
.content{
  height: 1000px;
  background-color: cyan;
  margin-left: 3px;
  margin-top: 3px;
  /*margin-left: 15%;*/
}
