//output:galeria-produtos.html, pretty:true
doctype html
html(lang="en")
  include header.jade

  body
    ul(id="dropdown-produtos", class="dropdown-content")
      li
        a(href="#") teste
      li(class="divider")
      li
        a(href="#") teste
      li(class="divider")
      li
        a(href="#") teste
    
    nav
      div(class="nav-wrapper green")
        a(href="#", class="brand-logo right") Logo
        ul(class="left hide-on-med-and-down")
          li
            a(href="#", class="dropdown-button", data-activates="form-login") Entrar
            div(id="form-login", class="row dropdown-content")
              form
                div(class="col s12")
                  input(type="email" class="black-text")
                div(class="col s12")
                  input(type="password", class="black-text")
                div(class="col s12")
                  button(class="btn waves-effect waves-light", type="submit") Entrar
              
          li
            a(href="#", class="dropdown-button", data-activates="form-cadastrar") Cadastra-se
            div(id="form-cadastrar", class="row dropdown-content")
              form
                div(class="col s12")
                  input(type="email" class="black-text")
                div(class="col s12")
                  input(type="password", class="black-text")
                div(class="col s12")
                  button(class="btn waves-effect waves-light", type="submit") Cadastra-se
          li
            a(href="#", class="dropdown-button", data-activates="dropdown-produtos") Produtos
  
    
    div(class="container")
      div(class="row")
        //- - var count = 2;
        //- - for(var i = 0; i < count; i++){
        //-   
        //-   div(class="col s6 m6")
        //-     div(class="card")
        //-       div(class="card-content black-text")
        //-         span(class="card-title") Produto
        //-         p Descricao
        //-         img
        //-         span 20,99 R$
        //-       div(class="card-action")
        //-         form
        //-           span Quantidade:
        //-           input(type="number", min="0", max="100")
        //-           a(href="#", class="green-text") Add
        //- - }
        //- - var nomeProdutos = ["Produto 1", "Produto 2", "Produto 3", "Produto 4"]
        //- - var imgs = ["camera", "cerveja", "pneu", "ype"]
        //- var i = 0;
        //- for produto in nomeProdutos
        //-   div(class="col s6 m6")
        //-     div.card
        //-       div.card-content.black-text
        //-         span.card-title= produto 
        //-         p Descricao
        //-         img(src='img/#{imgs[i]}.jpg', width="200px", height="200px")
        //-         - i++;
        //-         br
        //-         span 30,00 R$
        //-       div(class="card-action")
        //-         form
        //-           span Quantidade:
        //-           input(type="number", min="0", max="100")
        //-           a(href="#", class="green-text") Add
        - var produtos = [ { id: "1", nome: "Produto 1", img: "camera", preco: "100,00"}, { id: "2", nome: "Produto 2", img: "cerveja", preco: "4,00"}, { id: "3", nome: "Produto 3", img: "pneu", preco: "330,00"}, { id: "4", nome: "Produto 4", img: "ype", preco: "1,50"},];
        mixin listarProdutos(produto)
          div(class="col s6 m6")
            div.card
              form(action="#", method)
                input(type="hidden", name="id", value=produto.id)
                div.card-content.black-text
                  span.card-title= produto.nome 
                  p Descricao
                  img(src='img/#{produto.img}.jpg', width="200px", height="200px")
                  br
                  span= produto.preco + " R$"
                  input(type="hidden", name="preco", value=produto.preco)
                div(class="card-action")                
                  span Quantidade:
                  input(type="number",name="qunatidade" min="0", max="100")
                  button(class="btn btn-primary", type="submit") Add
        
        for produto in produtos  
          +listarProdutos(produto)
    
    include script.jade
    include scriptDropdown.jade
    
  
