head
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  title Trabalho de LMS
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  // CSS
  link(media="screen,projection" rel="stylesheet", href="materialize/css/materialize.min.css")
  //link(media="screen,projection" rel="stylesheet", href="../css/font-awesome.min.css")
  link(media="screen,projection" rel="stylesheet", href="materialize/css/style.css")
  link(media="screen,projection" rel="stylesheet" href="font-awesome/css/font-awesome.min.css")
