//output:suas-compras.html, pretty:true
doctype html
html(lang="en")
  include header.jade
  
  body
    nav
      div(class="nav-wrapper green")
        a(href="#", class="brand-logo right") Logo
    
    
    div(class="container")
      div(class="row")
  
  
    include script.jade
