body {
    background-image: url("img/imagem.png");
    font-family: "Arial Black", Times, serif;
    color: green;
    font-size: 12px;
    text-align: center;
}

h1{
  color: blue;
  background: linear-gradient(red, yellow,green);
}
.artigo01{
  margin: 30px;
  padding: 1cm;
  border-style: dotted;
  border-color: red;
}
.artigo2{
  /*background: linear-gradient(yellow,green,blue);*/
  border-style: solid;
  border-color: blue;
  margin: 10%, 5%,10%,5%;
  padding: 12ex;
}
.artigo3{
  /*background: linear-gradient(gray,white);*/
  border-style: ridge;
  border-color: green;
  margin: 10%;
  padding: 12ex;
}
