//output:galeria.html, pretty:true
doctype html
html(lang="en")
  include header.jade
  body
    nav(class="navbar navbar-inverse")
      div(class="container")
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            //ENTRAR
            li(class="dropdown" id="login")
              a(href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Entrar
              div(class="dropdown-menu")
                form(style="width:400px; padding:10px", id="form-entrar")
                    div(class="form-group")
                      label(for="exampleInputEmail1") Email 
                      input(name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
                    div(class="form-group")
                      label(for="exampleInputPassword1") Senha
                      input(name="senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")   
                    div(class="form-group")
                      //- button(type="submit" class="btn btn-primary") Logar
                      a(href="#" class="btn btn-primary logar") Logar
            //CADASTRAR
            li(class="dropdown" id="cadastrar")
              a(href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Cadastra-se
              div(class="dropdown-menu")
                form(style="width:400px; padding:10px", id="form-cadastrar", method="post")
                  div(class="form-group")
                    label(class="control-label" for="exampleInputEmail1" ) Email 
                    input(name="emailCadastrar" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
                  div(class="form-group")
                    label(class="control-label" for="exampleInputPassword1") Senha 
                    input(name="senhaCadastrar" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                  div(class="form-group")
                    label(class="control-label" for="exampleInputPassword2") Repita a senha
                    input(name="resenhaCadastrar" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password")   
                  div(class="form-group")
                    button(type="submit" class="btn btn-success") Cadastra-se
            
          ul(class="nav navbar-nav pull-right inativo" id="opcoes-logado")
            //PRODUTOS
            li(class="dropdown")
              a(href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Carrinho
                span(class="caret")
              ul(class="dropdown-menu")
            //SAIR
            li(class="dropdown" id="logoff")
              a(href="#") Sair

    
    //card
    div(class="container")
      div(id="alert")
      div(class="row")
      - var produtos = [ { id: "1", nome: "Camera", img: "camera", preco: "100,00"}, { id: "2", nome: "Cerveja", img: "cerveja", preco: "4,00"}, { id: "3", nome: "Pneu", img: "pneu", preco: "330,00"}, { id: "4", nome: "Detergente", img: "ype", preco: "1.5"},];
      mixin listarProdutos(produto)
        div(class="col-md-3")
          div.card
            form
              input(type="hidden", name="id", value=produto.id)
              img(class="card-img-top" src='img/#{produto.img}.jpg' width="200px", height="200px" alt="Card image cap")
              div(class="card-block")
                h4 
                  span.card-title= produto.nome
                //tirar para colocar numve
                div(class="form-group")
                  span= produto.preco + " R$"
                  input(type="hidden", name="preco", value=produto.preco) 
                div(class="form-group inativo")
                  span Qtd = 
                  input(type="number",name="quantidade", min="0", max="100")
                div(class="form-group inativo")
                  button(href="#" class="btn btn-primary addProduto") ADD
              
      for produto in produtos  
        +listarProdutos(produto)
  

  include script.jade
