head
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  title Trabalho de LMS
  // CSS
  link(media="screen,projection" rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
  //link(media="screen,projection" rel="stylesheet", href="../css/font-awesome.min.css")
  link(media="screen,projection" rel="stylesheet", href="bootstrap/css/bootstrap-theme.min.css")
  
  link(media="screen,projection" rel="stylesheet", href="css/style.css")
